body {
    background-color: rgb(63, 148, 91);
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.form-container {
    background-color: rgb(255, 249, 249);
    width: 300px;
    height: 300px;
    border-radius: 7px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.success-message {
    color: green;
    margin: 11px;
}

.failed-messages {
    color: red;
    margin-left: 10px;
}

.form-field {
    padding: 9px;
    margin: 11px;
    background-color: rgb(177, 177, 177);
}